body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title-fade-out{
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in{
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out{

  from{
    opacity: 100;
  }

  to{
    opacity: 0;
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }

  to{
    opacity: 100;
  }
}